.img-user{
	width: 100%;
}

.user-info{
	margin-left: 10px;
}


#info-list li:hover{
	cursor: pointer;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
}
#info-list li:nth-child(1):hover{
	background-color: 	#DCDCDC;
}
#info-list li:nth-child(2):hover{
	background-color: 	#90EE90;
}
#info-list li:nth-child(3):hover{
	background-color: 	#00BFFF;
}
#info-list li:nth-child(4):hover{
	background-image: linear-gradient(to right, #6495ED , 	#FFD700);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 757px) {
  #main-container{
  	margin-top: 25px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}