.img-user{
	width: 100%;
}

.user-info{
	margin-left: 10px;
}


#info-list li:hover{
	cursor: pointer;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
}
#info-list li:nth-child(1):hover{
	background-color: 	#DCDCDC;
}
#info-list li:nth-child(2):hover{
	background-color: 	#90EE90;
}
#info-list li:nth-child(3):hover{
	background-color: 	#00BFFF;
}
#info-list li:nth-child(4):hover{
	background-image: linear-gradient(to right, #6495ED , 	#FFD700);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#main-container{
    background-color: #fff;
  }

@media screen and (max-width: 757px) {

  .img-user{
  width: 80%;
}

  .prj-menu{
    width: 30%;
  }

  #main-container{
  	margin-top: 25px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.cards{
   height: 200px;
   line-height: 200px;
   text-align: center;
 }
 #ut:hover{
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: rgba(227, 76, 2, 0.5);
 }

 #wc:hover{
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: lightblue;
 }

 #mt:hover{
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: lightgreen;
 }

 #st:hover{
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: orange;
 }
 #ub:hover{
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: #dcdcdc;
 }
 
 a.card-a{
   text-decoration: none!important;
   color: #636b6f!important;
 }

 @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
#nav-div img {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
}

#nav-div ul {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromBottom;
  
}
 .proj-img{
  width: 100%;
 }
 
 .badge{
  font-size: 16px!important;
  margin-bottom: 7px;
 }